/node_modules
/public/hot
/public/storage_old_@
/public/storage
/public/sitemap.xml
/public/uploads
/storage/*.key
/vendor
/.mysql
/deploy
docker-compose.yml
.env
.env.backup
.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/composer.lock
/package-lock.json
.DS_Store
composer.phar
Dockerfile

php/local.ini
ifly.sql
/public/css/app.css
/public/css/new-style.css
/public/js/app.js
/public/mix-manifest.json
webgate.conf
yarn.lock
